<!DOCTYPE html>
<html>

    <head>
        <title>Express JS Framework</title>
    </head>

    <body>
        <h1>express.static() is working</h1>
        <p>EJS or Embedded Javascript Templating is a templating engine used by Node. js. The template engine helps to create an HTML template with minimal code. Also, it can inject data into the HTML template on the client side and produce the final HTML.</p>
    </body>

</html>